#Instructions { float: left; width: 100%; background-color: #f0fff0;}
#Wrapper { float: left; padding-left: 200px; padding-right: 200px;}
#Ranking { position: relative; float: left; width: 200px; right: 200px; margin-right: -100%;}
#Explain { position: relative; float: right; margin-left: -200px;}